$header-height: 50px;

header{
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  height: $header-height;
  background-color: #FEFEFE;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.12);
  z-index: 100;
  min-width: 801px;
}

nav {
  float: right;
  margin-right: 20px;
  a{
    height: $header-height;
    display: inline-block;
    line-height: $header-height + 5px;
    padding: 0 20px;
    font-size: 15px;
    color: #669876;
    position: relative;
    float: left;
    overflow: hidden;
  }
}

button{
  background-color: yellow;
  border: 1px;
  border-color: #347936;
  text-align: center;
  text-decoration: none;
  border-radius: 3px;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.12);
  user-select: none;
  transition: 0.4s;
  &:hover{
    color: #101010;
  }
}

button.comment{
  padding: 7px 20px;
  // padding-left: 35px;
  content: "/270f";
  font-size: 15px;
  float: right;
  margin-top: 11px;
  margin-left: 15px;
}
