$min-sidebar-width: 250px;
$sidebar-expanded-width: 300px;
$slider-width: 15px;
$nav-color: #5f5a5a;
$nav-active-color: #4d4747;

*{
  background-color: #FDFAF9;
}
html{
  height: 100%;
  min-width: 920px;
  top: 0; bottom:0; left:0; right:0;
  // margin: -8px auto auto -8px;
}

.slider{
  width: $slider-width;
  height: 100vh;
  float: right;
  top:0;bottom: 0;

}
.slider-button{
  padding: 0px;
  margin: 0px;
  width: $slider-width;
  height: 100%;
  background-color: $nav-color;
  border: none;
  // border-left: 1px solid white;
  border-radius: 0px;
}


.main-content{
  width: calc(100% - 300px);
  float: right;
  top: 0; bottom: 0; right: 0;
  padding:10px 30px;
}
