$link-color: #81af90;
$link-text-color: #FDFAF9;

*{
  // font-size: 100%;
  font-family: Helvetica Nueu, Helvetica, Arial, sans-serif;
  -webkit-user-select:none;
  -webkit-touch-callout:none;
  -moz-user-select: none;
  -ms-user-select:none;
  user-select:none;
  color: #5f5a5a;
}



a{
  text-decoration: none;
  padding: 14px 25px;
  &:link, &:visited{
    background-color: $nav-color;
    color: $nav-color;
  }
  &:hover, &:active {
    background-color: $link-text-color;
    color: $nav-color;
  }
}


ul {
  list-style-type: none;
  display: block;
}
li{
  width: 100%;
}

input, textarea{
  background: white;
  border: 1px solid #C8C8C8;
  border-radius: 2px;
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  font-size: 16px;
  font-weight: 300;
  margin: 4px 0;
  transition: box-shadow 0.2s, border 0.2s;
  &:focus{
    outline: none;
    box-shadow: 0px 0px 0px 2px #63B0E7
  }
}

button{
  background-color: #6cB782;
  border: 1px solid #71AC83;
  border-radius: 3px;
  font-size: 15px;
  color: white;
  padding: 8px 18px;
  cursor: pointer;
  outline: none !important;
  &:hover{
    background-color: #64A677;
  }
  &.link-button{
    width: 100%;
    float: left;
  }
}



h1 {
  padding: 5px 0px;
  font-weight: 200;
  color: #000000;
}

.glyphicon{
  width:20px;
  margin-right: 10px;
  background-color: rgba(0,0,0,0);
  color: $link-text-color;
  margin-left: -3px;
}
