$link-color: #81af90;
$link-text-color: #FDFAF9;

*{
  // font-size: 100%;
  font-family: Helvetica Nueu, Helvetica, Arial, sans-serif;
  -webkit-user-select:none;
  -webkit-touch-callout:none;
  -moz-user-select: none;
  -ms-user-select:none;
  user-select:none;
  color: #5f5a5a;
}



a{
  text-decoration: none;
  padding: 14px 25px;
  height: 42px;
}


ul {
  list-style-type: none;
  display: block;
}
li{
  width: 100%;
}

input, textarea{
  background: white;
  border: 1px solid #C8C8C8;
  border-radius: 2px;
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  font-size: 16px;
  font-weight: 300;
  margin: 4px 0;
  transition: box-shadow 0.2s, border 0.2s;
  &:focus{
    outline: none;
    box-shadow: 0px 0px 0px 2px #63B0E7
  }
}

h1 {
  padding: 5px 0px;
  font-weight: 200;
  color: #000000;
}

button {
  border-radius: 0px;
  border: none;
  background-color: $nav-color;
  color: $link-text-color;
  &:hover, &:active{
    background-color: $nav-color-dark;
  }
  &:link, &:visited{
    background-color: $nav-color;
  }
}

.glyphicon{
  width:20px;
  margin-right: 10px;
  background-color: rgba(0,0,0,0);
  color: $link-text-color;
  margin-left: -3px;
}

.slider-button{
  padding: 0px;
  margin: 0px;
  width: $slider-width;
  height: 100%;
  background-color: $nav-color;
  border: none;
  border-radius: 0px;
  &:hover, &:active{
    background-color: $nav-color-dark;
  }
}


.logo{
  content: url(/assets/images/logo.png);
  background-color: $nav-color;
}
