.comments-main{
  position: fixed;
  width: 100%;
  height: calc(100%);
  left:0;
  background-color: rgba(0,0,0,.5);
}

.flyout{
  width: 400px;
  height: 100%;
  float:right;
  padding: 20px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.comments-top-bar{
  width: 400px;
  height: 52px;
  position: fixed;
  margin: -20px 0px 10px -20px;
  background-color: $nav-color;
}

.comments-main-content {
  margin-top: 52px;
}

.add-new-comment{
  height: 52px;
  padding: 0px 20px 0px 10px;
  color: $link-text-color;
}

.close-comments-box {
  height: 52px;
  width: 60px;
  padding-left: 20px;
  float: right;
}
