.all{
  position: fixed;
  width: 100%;
  height: 100%;
  float: left;
  background-color: rgba(0,0,0,.5);
  z-index: 10;
}

.main-comment-box{
  width: 500px;
  height: 100%;
  // overflow-y: scroll;
  margin: 0 auto;

}

.glyphicon-remove{
  color: $nav-color;
  float: right;
  cursor: pointer;
  &:hover, &:active{
    color: $nav-color-dark;
  }
}
