<div class="comments-all">
  <div class = "comments-main">
    {{#each comments as |comment|}}
      <div class="comments-single">
        {{comments-box/single-comment comment=comment}}
      </div>

      {{else}}
      <p>Be the first to leave a comment</p>
    {{/each}}
  </div>
</div>
