<!-- app/comment/template.hbs -->

<div class = "modal-body">
  <br><br>

  {{#each model.comments as |comment|}}
    {{comment.username}}: {{comment.description}}<br>
  {{else}}
    <div class = "no-comments">
      <p> there are no comments to display </p>
    </div>
  {{/each}}
</div>
