<!-- app/application/template.hbs -->



  <div class="main-content" {{bind-attr class="sidebarClass"}}>
      {{outlet }}
  </div>

{{#if showComments}}
  {{#liquid-wormhole}}
    {{comments-box comments=model.comments}}
  {{/liquid-wormhole}}
{{/if}}

{{#if addComment}}
  {{#liquid-wormhole}}
    {{add-comment close="toggleAddComment"}}
  {{/liquid-wormhole}}
{{/if}}
