<!-- app/application/template.hbs -->
<header>
  <div class = "page-container">
    <nav>
      {{#link-to "home"}}Home{{/link-to}}
      {{#link-to "problem"}}Problem{{/link-to}}
      <a>Placeholder</a>
      <a>Placeholder</a>
      <a>Placeholder</a>
      {{#link-to "comment" class="comment-button"}}Comments{{/link-to}}
      <a {{action 'createComment'}}>+</a>

    </nav>
  </div>
</header>
{{outlet}}
