<!-- app/other/template.hbs -->

<div class="pcb top-text">
<p>
  The first pcb is for a stand alone meter, in other words, this meter can function properly and is stable without many other components added on and most certainly does not need to be placed into a casing. The pcb can be fabricated, I recommend getting it professionally done if either pcb is chosen. After fabriaction there are leads on the board for power, ground, negative end of DUT, and positive end of DUT. We connected the power terminals to a pack of 2 AA batteries and the terminal edges to breadboard banana sockets. These can be drilled out and placed onto the board if enough space is left on the right side of the board. Add at least 4 tenths of an inch to be able to accomplish this.
</p>
<p>
  Now the last thing to consider is where to put the battery pack that was connected. This can be placed on the bottom of the board with an insulating tape pad to separate it from the soldering on the back of the board. Then standoffs can be added to the corners of the board to provide lift off of the battery pack when placed onto a surface.
</p>
</div>

<div class="pcb-no-case pcb-all-layers"></div>
<div class="pcb-no-case silkscreen-layer"></div>
<div class="pcb-no-case top-layer"></div>
<div class="pcb-no-case bottom-layer"></div>
<div class="pcb lower-text">
<p>
This second pcb is a lot more hands on, after hearing about what had to be done to the pcb layout I am sure that sounds almost absurd. However, this pcb needs to go into a casing as the external components need to be mounted onto a surface and we have removed the room for mounting on the pcb. To use this we fabricated our own case from a rectangular aluminum box that was already hallowed out. People wanting to do this should not need any direction. Enjoy making a customized meter!
</p>
</div>
<div class="pcb-case pcb-all-layers"></div>
<div class="pcb-case silkscreen-layer"></div>
<div class="pcb-case top-layer"></div>
<div class="pcb-case bottom-layer"></div>
