<!-- app/home/template.hbs -->

<!-- todo: add content -->
<p>
  The pocket meter is an affordable, easy to use, RLC meter with a very simple user
  interface that gives anyone the ability to identify and measure any resistor,
  inductor, or capacitor seen in normal lab useage. It is a great learning tool
  for new engineers and a time saver for engineers with experience.
</p>

<!-- todo: implement sliding gallery with all images -->
<!-- {{#slick-slider autoplay=true arrow=true responsive=breakpoints}}
<div class="product box-topdown"><img src="/assets/images/product/Box_topdown.png"></div>
<div class="product board-topdown"><img src="/assets/images/product/Board_topdownclose.png"></div>
{{/slick-slider}} -->

<div class="product box-topdown"></div>
<div class="product board-topdown"></div>
