<!-- app/home/template.hbs -->
<div class="main-content">
<h1>Home</h1>
<div class="break"></div>
<p>
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis a lobortis mauris, ut tristique nunc. Aliquam aliquam dui eros, vitae euismod sapien fringilla at. Praesent a lacus ut arcu pretium tincidunt. Sed accumsan risus ut placerat porttitor. Morbi volutpat semper euismod. Suspendisse mauris nisi, euismod a turpis quis, dapibus fringilla mi. Integer sagittis ex vulputate fermentum sollicitudin. Nullam suscipit mattis urna. Fusce mollis suscipit tellus, sed auctor erat. Nulla cursus euismod arcu, vel pulvinar tortor molestie a. Aliquam vestibulum tempus risus vel lobortis. Suspendisse id ligula posuere, lacinia ligula vel, ornare arcu. Nulla placerat, orci id iaculis placerat, lacus mauris accumsan mi, vel posuere dui nisl vulputate justo.
</p>
<p>
Mauris sit amet lectus risus. Fusce a euismod nisi. Aliquam elementum, est et lacinia mattis, odio ipsum vestibulum diam, ut lobortis purus urna id ligula. Praesent arcu odio, efficitur vitae laoreet eget, interdum id nunc. Maecenas risus nisi, rhoncus et ipsum vel, elementum rutrum neque. In tempus bibendum orci ut condimentum. Interdum et malesuada fames ac ante ipsum primis in faucibus. Sed in molestie ligula, sit amet efficitur sapien.
</p>
<p>
Curabitur pretium justo id orci ultricies, vel sodales ante ornare. Sed vel viverra augue. Fusce eget nunc nec leo lacinia egestas quis et est. Nullam posuere enim quis eleifend congue. Phasellus feugiat eros sem, eu porta elit semper id. Proin felis ipsum, scelerisque id iaculis in, sodales in lectus. Curabitur congue, ante ut placerat venenatis, massa nibh semper risus, sed iaculis nunc neque et dui. Nullam molestie dictum ipsum, et elementum purus pellentesque ut. Quisque consequat ullamcorper dui nec lobortis. Donec tincidunt scelerisque lorem, vitae rutrum urna molestie quis. Donec sit amet ligula nunc. Praesent rhoncus gravida hendrerit. Donec vitae mi vel magna dapibus consequat. Quisque non aliquam odio.
</p>
<p>
Aliquam erat volutpat. Suspendisse lobortis mauris commodo tellus vestibulum volutpat. Vivamus eu aliquet magna. Proin sit amet risus ac diam tristique tincidunt. Pellentesque sollicitudin eros at dolor pretium, porta iaculis est porta. Nulla eleifend velit vel justo sodales accumsan. Nam auctor ut justo nec iaculis.
</p>
<p>
Cras viverra sagittis nisl vel volutpat. Aliquam laoreet magna in eros fringilla, ut fringilla sem tincidunt. Integer in condimentum mi, eu mattis libero. Curabitur at nisi ut felis molestie mollis quis vulputate mauris. Fusce sollicitudin arcu a dapibus suscipit. Etiam sed lacus ligula. Donec varius, felis et congue pharetra, augue nibh malesuada lacus, quis venenatis massa felis ut nunc.
</p>
<p>
Sed ac est non mi placerat suscipit. Ut iaculis mauris at nisi vulputate gravida. Ut lectus neque, vehicula ac tempor at, ultricies non sem. Cras bibendum augue nec urna vestibulum lacinia vel at turpis. Etiam sit amet consequat mi. Mauris accumsan enim sed quam laoreet, ac elementum sapien porta. Proin sed tortor et neque accumsan imperdiet a vel tortor. Fusce nec erat sit amet quam cursus blandit a nec arcu. Suspendisse non feugiat nisi. Donec sagittis consectetur justo eget euismod. Cras dignissim bibendum aliquet. Praesent iaculis cursus nibh vel iaculis. Sed ut lorem scelerisque, varius nulla in, porttitor ipsum. Cras quis accumsan mauris, nec rutrum justo.
</p>
<p>
Proin turpis sem, faucibus vel erat vitae, suscipit aliquam nisi. Morbi id lectus a mi tristique blandit. Aenean varius consectetur suscipit. Aenean felis mauris, malesuada sit amet sagittis vitae, tincidunt sit amet enim. Fusce sed dictum ante. In vulputate erat quis elementum sagittis. Vivamus ornare quam eget mi accumsan auctor.
</p>
<p>
Integer in auctor tortor, a sollicitudin libero. Etiam ornare tortor nec diam finibus, at interdum massa laoreet. Pellentesque tortor ante, vulputate a lacus a, vehicula molestie est. Nulla vestibulum lectus vitae urna placerat, sed laoreet libero vestibulum. Mauris congue tortor eu ante porta vehicula. Nullam eget maximus nibh. Proin nec arcu accumsan, porttitor ex nec, dictum nulla. Aliquam finibus interdum odio quis cursus. Aliquam et molestie purus. Ut arcu justo, eleifend sit amet malesuada non, consequat at augue. Pellentesque id venenatis libero, scelerisque porttitor nisi. Aliquam mattis fringilla mi quis rutrum. Fusce velit eros, ultrices maximus maximus sed, feugiat non erat. Suspendisse venenatis, urna eu efficitur ornare, arcu enim euismod sem, id viverra felis justo sit amet leo. Pellentesque eleifend mattis mauris vitae auctor.
</p>
<p>
Maecenas ac magna sit amet ex cursus blandit. Nam ut ultrices massa. Donec et ultricies nunc, id efficitur enim. Suspendisse in congue est. Etiam facilisis odio lorem, ac porttitor libero finibus vel. Etiam sit amet sem vitae dolor maximus tincidunt et et leo. Morbi dictum iaculis ligula eu pretium. Maecenas varius non tortor vel porttitor. Proin ut ante quis turpis pellentesque efficitur at et metus. Nullam vitae sollicitudin ante, ut pretium magna. Suspendisse laoreet vehicula consequat. Mauris a lectus eu justo dignissim cursus. Fusce gravida odio at erat luctus egestas. Aenean vel dignissim felis.
</p>
</div>
