.nav{
  background-color: $nav-color;
  color: $link-text-color;
}

.sidebar.sidebar-min{
  position: fixed;
  // float: left;
  height: 100vh;
  width: $sidebar-min-width;
  background-color: $nav-color;
  display: block;
  z-index: 1000;
}

.nav.nav-min{
  width: $sidebar-min-width - $slider-width;
  float: left;
  &.nav-link{
    display: inline-block;
    width: 100%;
    border-top: 1px solid $link-text-color;
    margin-top: -1px;
    border-bottom: 1px solid $link-text-color;
  }
}



.nav.nav-min.title{
  padding: 0;
  margin:auto;
  width:40px;
}
