.nav{
  background-color: $nav-color;
  color: $link-text-color;
}

.sidebar.sidebar-min{
  position: fixed;
  // float: left;
  height: 100vh;
  width: $sidebar-min-width;
  background-color: $nav-color;
  display: block;
  z-index: 1000;
}

.nav.nav-min{
  width: $sidebar-min-width - $slider-width;
  float: left;
  &.nav-link{
    display: inline-block;
    width: 100%;
    border-top: 1px solid $link-text-color;
    margin-top: -1px;
    border-bottom: 1px solid $link-text-color;
  }
}



.nav.nav-min.title{
  padding: 0;
  margin:auto;
  width:40px;
  height: 79px;
}

.nav-min-button{
  height: 42px;
  width: $sidebar-min-width - $slider-width;
  margin-top: -1px;
  padding: 8px 0px 8px 13px;
  border: none;
  border-radius: 0px;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
}

.nav-link{
  &:link, &:visited{
    background-color: $nav-color;
  }
  &:hover, &:active{
    background-color: $nav-color-dark;
  }
}
