<fieldset class="rating">
  <input type="radio" name="rating" id="fiveStar" value = 5><label for="fiveStar"></label>
  <input type="radio" name="rating" id="fourStar" value = 4><label for="fourStar"></label>
  <input type="radio" name="rating" id="threeStar" value = 3><label for="threeStar"></label>
  <input type="radio" name="rating" id="twoStar" value = 2><label for="twoStar"></label>
  <input type="radio" name="rating" id="oneStar" value = 1><label for="oneStar"></label>
  <input type="hidden" name="rating" value=0>
</fieldset>
