.flyout{
  position: fixed;
  width: 100%;
  height: 100%;
  left:0;
  top:0;
  background-color: rgba(0,0,0,.5);
  z-index: 10;
}

.main{
  width: 400px;
  height: 100%;
  padding: 20px;
  float: right;
  box-shadow: 5px 5px 5px rgba(0,0,0,.5);

}

.add-comment-top{
  width: 400px;
  height: 52px;
  position: relative;
  background-color: $nav-color;
  border-bottom: 1px solid rgba(0,0,0,.25);
  top: 0;
  margin:  -20px 0px 10px -20px;
  padding-top: 6px;
}

p {
  &.remaining-chars {
    float: right;
    margin-right: 15px;
    font-size: 16px;
    margin-top: 4px;
  }
}

button {
  float: right;
  padding: 3px 10px;
  color: $link-text-color;
  margin-right: 7px;
  border-radius: 4px;
  margin-top: 2px;
}

h6{
  background-color: $nav-color;
  color: $link-text-color;
  font-size: 17px;
  font-weight: 500;
  text-align: center;
}
p{
  font-size: 12px;
}
#errorText{
  color: red;
  float: right;
  padding-top: 1px;
  padding-right: 250px;
}

fieldset{
  border:none;
}

textarea{
  resize:none;
  min-height: 103px;
  font-weight: 400;
  float: center;
  width:100%;
  margin-top: 10px;
}
.text-overflow{
  color: red;
}

.usernameBox{
  font-weight: 500;
  padding: 0 20;
  margin: 5;
  width: 100%;
  float: center;
}

.rating {
  float:left;
  width: 110px;
  margin-left: -15px;
}

/* :not(:checked) is a filter, so that browsers that don’t support :checked don’t
   follow these rules. Every browser that supports :checked also supports :not(), so
   it doesn’t make the test unnecessarily selective */
.rating:not(:checked) > input {
    position:absolute;
    top:-9999px;
    clip:rect(0,0,0,0);
}

.rating:not(:checked) > label {
    float:right;
    position: relative;
    cursor:pointer;
    font-size:150%;
    color:#F0F0F0;
    text-shadow: 0px 0px 0 #000, 0px 0px 0 #000, 0px 0px 0 #000, 0px 0px 0 #000;
}

.rating:not(:checked) > label:before {
    content: '★';
}

.rating > input:checked ~ label {
    color: gold;
}

.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label {
    color: #ea0;
}

.rating > input:checked + label:hover,
.rating > input:checked + label:hover ~ label,
.rating > input:checked ~ label:hover,
.rating > input:checked ~ label:hover ~ label,
.rating > label:hover ~ input:checked ~ label {
    color: #ea0;
}

.rating > label:active {
    position:relative;
    top:1px;
    left:1px;
}
