<div class = "all">
<div class = "main">
  <h6>Create Comment</h6>
  <form id ="ratingForm" name="ratingForm">
    <fieldset class="rating">
      <input type="radio" name="rating" id="fiveStar" value = 5><label for="fiveStar"></label>
      <input type="radio" name="rating" id="fourStar" value = 4><label for="fourStar"></label>
      <input type="radio" name="rating" id="threeStar" value = 3><label for="threeStar"></label>
      <input type="radio" name="rating" id="twoStar" value = 2><label for="twoStar"></label>
      <input type="radio" name="rating" id="oneStar" value = 1><label for="oneStar"></label>
      <input type="hidden" name="rating" value=0>
    </fieldset>
    <p id="errorText"></p>
    {{input class="usernameBox" value=usernameText placeholder="Name"}}
    {{textarea id="commentArea" value=commentText placeholder="Type comment here!"}}
  </form>

  <button class="button okay-button"{{action 'post'}}>Okay</button>
  <button class="button close-button"{{action 'close'}}>Cancel</button>

<p class = "remaining-chars">250</p>
</div>
</div>
