<ul class="componet-list">
  <li>
    NXP LPC1114FN28/102
  </li>
  <li>
    Serial flashing tool(to flash code to microcontroller)
  </li>
  <li>
    Sparkfun Nokia 5110 LCD screen (can be replaced with other Nokia 5110 screens, but pinouts are often different)
  </li>
  <li>
    MCP 41100 digital potentiometer
  </li>
  <li>
    LM393 comparator
  </li>
  <li>
    NE555 timer
  </li>
  <li>
    CD4066 bilateral switch
  </li>
  <li>
    MAX4678 analog switch
  </li>
  <li>
    Momentary push button
  </li>
  <li>
    1N4148 planar diode
  </li>
  <li>
    1&mu;F capacitor (Must be non-polarized, this is extremely important to the functionality)
  </li>
  <li>
    2 x 1M&Omega; resistors
  </li>
  <li>
    2 x 10k&Omega; resistors
  </li>
  <li>
    2 x 1k&Omega; resistors
  </li>
  <li>
    2 x 1M&Omega; resistors
  </li>
  <li>
    330&Omega; resistor
  </li>
  <li>
    100&Omega; resistor
  </li>
  <li>
    10&Omega; resistor
  </li>
</ul>
