.nav{
  background-color: $nav-color;
  color: $link-text-color;
}

.sidebar.sidebar-expanded{
  position: fixed;
  // float: left;
  height: 100vh;
  width: $sidebar-expanded-width;
  background-color: $nav-color;
  display: block;
  z-index: 1000;
}

.nav.nav-expanded{
  width: $sidebar-expanded-width - $slider-width;
  float: left;
  &.nav-link{
    display: inline-block;
    width: 100%;
    border-top: 1px solid $link-text-color;
    margin-top: -1px;
    border-bottom: 1px solid $link-text-color;
  }
}

.nav.nav-expanded.title{
  padding: 20px 0px 20px 20px;
  margin:auto;
  width:250px;
}

.add-comment-expaned, .show-comment-expanded{
  height: 42px;
  padding: 0px;
  border-radius: 0px;
  border: none;
  margin-top: -1px;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  background-color: $nav-color;
  margin-left: -5px;
  &:hover, &:active{
    background-color: $nav-color-dark;
  }
  &:link, &:visited{
    background-color: $nav-color;
  }
}


.show-comment-expanded{
  width: 135px;
  float: left;
}

.add-comment-expaned{
  width: 160px;
  float:left;
}

.nav-link{
  &:hover, &:active{
    background-color: $nav-color-dark;
  }
  &:link, &:visited{
    background-color: $nav-color;
  }
}
