<!-- app/problem/template.hbs -->
<h4>
  Panic in the lab!
</h4>
<p>
You’ve just knocked over a tray full of components, and you have to sort them all to clean up the

mess. For a novice engineer this is a nightmare, and for a seasoned engineer it’s just tedious.

Thus begins the arduous process of picking individual components, visually identifying them (if

you can), and measuring them either with assorted meters or once again visually. It seems like

an ideal solution would be a device that could identify whatever passive component is tested, and

display a measured value. This would make the sorting process monumentally simpler.
</p>
<p>
Fortunately, a solution already exists. If you don’t mind shelling out upwards of $200, you can

get an RLC meter that will require you to select the component type, and then will proceed to

measure it slowly. Additionally, these RLC meters may not be designed to measure any

components in the range you need. At this point you’re probably wondering why something

more versatile and user-friendly doesn’t exist.
</p>
<p>
We asked ourselves this very same question and set out to create a solution. Enter the Pocket

Meter. The Pocket Meter is a simple, elegant, and economic solution to measure common RLC

components. Among the Pocket Meter’s features are a highly intuitive user interface, a rapid

response time, and a budget-friendly design. This meter is designed to handle the most

commonly found wide ranges of components in a lab setting. In addition to all of these features,

the Pocket Meter identifies the component automatically.
</p>
