.comment-div{
  min-height: 50px;
  width: 400px;
  float: left;
  border-left: 1px solid rgba(0,0,0,.5);
  margin-bottom: 10px;
  padding-left: 5px;
}
.comment-div-top{
  width: 400px;
  float: left;
}
.comment-username, .comment-rating{
  float: left;
  font-size: 11px;
  margin-right: 10px;
}

.comment-timestamp{
  font-size: 11px;
  float:left;
}

.comment-description{
  width: 360px;
  float:left;
  color: black;
  box-sizing: border-box;
}
