.comment-div{
  width: 400px;
  float: left;
  
}

.comment-username, .comment-rating{
  float: left;
  font-size: 11px;
  margin-right: 10px;
}

.comment-timestamp{
  font-size: 11px;
  float:left;
}

.comment-description{
  color: black;
}
